# Le serveur doit suivre les liens symboliques :
 Options +FollowSymlinks

 # Activation du module de reecriture d'URL :
 RewriteEngine on

 RewriteRule !^(assets|images|public)(.*)$ index.php [QSA,PT,L]
